/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:16px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/* YaML CSS */

.shake-page {
  padding: 0;
  background-color: #353535;
}
.path-card {
  position: relative;  
}
.path-card img {
  width: 100%;
  height: 100%;
}
.path-card a {
  display: block;
  width: 290px;
  height: 160px;
  position: absolute;
  top: 0;
  left: 0;
}
.walking .ui-content {
  padding: 0;
}
.path-overview {
  position: relative;  
  display: block;
  height: 160px;
  background-color: #2B124C;
  color: #FFFFFF;
}
.path-line {
  display: block;
  position: relative;  
  width: 290px;
  margin: auto auto;
}
.path-line img {
  width: 100%;
  height: 100%;
}
.path-map {
  display: block;
  position: relative;  
  width: 100%;
  height: auto;
  margin-bottom: -4px;
}
.path-map img {
  width: 100%;
  height: auto;
}
.map-hint {
  display: block;
  position: absolute;
  width: 110px;
  height: 33px;
  float: right;
  top: 10px;
  right: 10px;
  color: #682ABA;
  background-color: rgba(255, 255, 255, 0.86);
  font-size: 17px;
  line-height: 34px;
  text-align: center;
  text-shadow:0px 1px 0px #B8B8B8;
  -moz-box-shadow: 0px 2px 5px #000000;
  -webkit-box-shadow: 0px 2px 5px #000000;
  box-shadow: 0px 2px 5px #000000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.map-hint a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.map-loading {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.map-loading i {
  font-color: #FFFFFF;
  top: 100px;
}
.map-loading-text {
  position: absolute;
  top: 150px;
  text-align: center;
  width: 100%;
  font-size: 15px;
  color: #FFFFFF;
  text-shadow: none;
}
.checkin-intro {
  padding: 10px 20px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-shadow: none;
  margin-bottom: -1px;
}
.path-photo-album .path-photo {
  position: relative;
  width: 50%;
  height: auto;
  border: 3px solid #000000;
  margin-bottom: -5px;
  background-color: #000000;
}
.path-photo a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.path-photo-album {
  width: 100%;
  height: 100%;
}
.path-photo-album img {
  width: 100%;
  height: 100%;
}
